<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">

</head>

<body>
 <div class="login">
      <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container"  class="brand-logo"></a>
       <img class="logo" src="../static/henhouse.png" alt="" width="55"/>
    </div>
  </nav>

	<h1>Predict Salary Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
   <form action='/predict' method="POST" class="col s12">

      <div class="row">
        <div class="henhous-color">
            <label for="first_name"><b>Company name</b></label>
            <br>
          <input   id="first_name" name='company_name'type="text" class="validate">
        </div>
        <div>
           <label for="cars">Choose a car:</label>

              <select id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="vw">VW</option>
                <option value="audi" selected>Audi</option>
              </select>
        </div>


        <div class="henhous-color">
          <label for="last_name"><b>Industry</b></label>
            <br>
          <input id="last_name"  name="industry" type="text" class="validate">
        </div>
        <div class="henhous-color">
          <label for="Sector"><b>Sector</b></label>
            <br>
          <input id="Sector"  name="Sector" type="text" class="validate">
        </div>


        <div class="henhous-color">
            <label for="Cleand_Final Description"><b>Description</b></label>
            <br>
          <input id="Cleand_Final Description" name="Cleand_Final Description" type="text" class="validate">

        </div>

          <div class="henhous-color">
        <label for="img">Select your company's logo:</label>
        <input type="file" id="img" name="img" accept="image/*">
        </div>

      </div>

      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light light-black henhous-color">Predict Probability</button>
      </div>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>